</html>
<div id="footer" >
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
      <ul >
          <li class="nav-item"><a href="/" >Home</a></li>
          <li class="nav-item"><a href="/logout" >Logout</a></li>
          <li class="nav-item"><a href="#" >About</a></li>
      </ul>
      <p>&copy; 2022 Copyright Weight Tracker 3000. All rights reserved | Terms | Privacy</p>
  </footer>
</div>
