
  <footer>
      <ul >
          <li class="nav-item"><a href="/" >Home</a></li>
          <li class="nav-item"><a href="/weights" >Weight</a></li>
          <li class="nav-item"><a href="/about" >About</a></li>
          <li class="nav-item"><a href="/logout" >Logout</a></li>
          
      </ul>
      <p>&copy; 2022 Copyright Weight Tracker 3000. All rights reserved | Terms | Privacy</p>
  </footer>
  </html>