<header >
    <div class="container">
        <div >
            <ul>
                <li class="nav-item"><a href="/" >Home</a></li>
                <li class="nav-item"><a href="/weights" >Weight</a></li>
                <li class="nav-item"><a href="/about" >About</a></li>
            </ul>
            <form >
                <input type="search" placeholder="Search..." aria-label="Search">
            </form>
           <!-- <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">Login</button>
                <button type="button" class="btn btn-warning">Sign-up</button>
            </div> -->
        </div>
    </div>
</header>