<%- include('partials/head') %>
<%- include('partials/header') %>

<body>
    <h1>About Weight Tracker 3000</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit architecto asperiores fugiat. 
        Dolorem debitis doloremque nisi id illo! Exercitationem, ut maxime fuga quidem pariatur dolores debitis. 
        Impedit iusto laborum vitae.
    </p>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
<%- include("partials/footer") %>