<%- include('partials/head', {title :'About the program'}) %>
<%- include('partials/header') %>

<body>
    <div class="landing-page">
        <div class="lp-container">
          <div class="info">
            <h1>Looking For Inspiration</h1>
            <p>Track your progress and acheive your target weight with our app</p>
            <button>Sign Up Today</button>
          </div>
          <div class="image">
            <img src="https://i.postimg.cc/65QxYYzh/001234.png">
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>

<%- include("partials/footer") %>